body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-bg: #ecf2fe;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dark {
  --bs-body-bg: #171717;
  --bs-light-rgb: 43, 48, 54;
  --bs-body-color: #fff;
  --bs-white-rgb: 43, 48, 54;
  --bs-link-color: #fff;
  --bs-link-hover-color: #fff;
  --bs-border-color: #777777;
  --bs-table-bg: #2b3036;
}

.dark .card {
  --bs-card-bg: #2b3036;
}

.dark .dropdown-menu {
  --bs-dropdown-bg: #2b3036;
  --bs-dropdown-link-color: #fff;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-hover-bg: rgba(66, 94, 126, 0.56);
}

.dark .form-select {
  background-color: #2b3036;
  color: #fff;
}
.dark .form-control {
  background-color: #2b3036;
  color: #fff;
}

.dark .modal {
  --bs-modal-bg: #2b3036;
}
.dark .navbar {
  --bs-navbar-color: 43, 48, 54;
  --bs-navbar-brand-color: 43, 48, 54;
  --bs-navbar-brand-hover-color: 43, 48, 54;
  --bs-navbar-hover-color: 43, 48, 54;
  --bs-navbar-active-color: 43, 48, 54;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
